body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#particles-js{
    height: 100;
    background: #262626;
}


.container h1{
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}

.container .skill{
    margin-bottom: 30px;
    width: 100%;
    align-items: center;
    position: relative;
}

.container .skill h3{
    display: inline-block;
    margin-bottom: 5px;
}

.container .skill h4{
    float: right;
}

.container .skill .skill-bar{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 17px;
    border-radius: 15px;
    background: #48cae4;
}

.container .skill .fill-bar{
    position: absolute;
    top: 30px;
    left: 0;
    height: 17px;
    border-radius: 15px;
    background: #0077b6;
}

.container .skill .html{
    animation: html 2s;
    width: 95%;
}

.container .skill .css{
    animation: css 2s;
    width: 85%;
}

.container .skill .javascript{
    animation: javascript 2s;
    width: 70%;
}

.container .skill .php{
    animation: php 2s;
    width: 85%;
}

.container .skill .react{
    animation: react 2s;
    width: 65%;
}

@keyframes html{
    from{
        width: 0;
    }
    to{
        width: 95%;
    }
}

@keyframes css{
    from{
        width: 0;
    }
    to{
        width: 85%;
    }
}

@keyframes javascript{
    from{
        width: 0;
    }
    to{
        width: 70%;
    }
}
.interests .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: white;
    transition: ease-in-out 0.3s;
  }
  
  .interests .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
  }
  
  .interests .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    color: rgb(185, 27, 27);
  }
  
  .interests .icon-box:hover {
    background: rgba(13, 26, 136, 0.12);
  }
  .contact-form{
      background-color:black;
  }
.footer{
    background-color: black;
}
.technologies {
    background: var(--second-color);
    padding: 0.6em 0;
    border-radius: 0.8em;
  }
  
  .tech-list {
    gap: 1.3em;
    flex-wrap: wrap;
  }

 